<div class="container mt-5">
  <div class="card text-center border-0 box">
    <h1 class="display-4">RESULT</h1>
    <p class="lead"><%= @score %></p>
    <p class="mt-3">
      <a href="/new" class="btn btn-primary btn-lg"><strong>Play again</strong></a>
    </p>
  </div>
</div>
